body{
    display: flex;
    border-style: bold;
    flex-direction: column;
    margin-right: 200px;
    margin-left: 200px;
    font-family: Helvetica;
    background-color: #1F2937;
    color: #F9FAF8;
}
ul{
    display: flex;
    list-style: none;
    gap: 10px;
    color: #F9FAF8;
    font-weight: 300;
    font-size: 18px;
}
.header{
    display: flex;
    border-style: solid;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    
}
img{
    width: 400px;
}
.intro{
    display: flex;
    border-style: solid;
    margin: 75px 0px;
    color: #F9FAF8;
    

}

.itext{
    display: flex;
    border-style: solid;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-right: 50px;
    align-items: flex-start;
}
button{
    padding: 5px 20px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    font-size: 18px;
    border-style: none;
}
.ih{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.ip{
    font-size: 18px;
}