body{
    flex-direction: column;
    font-family: Helvetica;
    margin: 0px;
}
.bb{
    padding-right: 200px;
    padding-left: 200px;
    background-color: #1F2937;
}
.logo{
    color: #F9FAF8;
}
ul{
    display: flex;
    list-style: none;
    gap: 10px;
    color: #F9FAF8;
    font-weight: 300;
    font-size: 18px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 700;

    
}
img{
    display: flex;
    width: 400px;
    height: auto;
    justify-content: center;

}
.intro{
    display: flex;
    padding: 55px 0px;
    color: #F9FAF8;
    justify-content: center;
    flex-shrink: 0;

}

.itext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-right: 50px;
    align-items: flex-start;
}
button{
    padding: 5px 20px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    font-size: 18px;
    border-style: none;
}
.ih{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.ip{
    font-size: 18px;
}
.boxes{
    display: flex;
    padding-right: 200px;
    padding-left: 200px;
    padding-top:55px;
    gap: 25px;
    padding-bottom: 55px;
}
.bh{
    padding-top: 55px;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;

}
.box{
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: #3882F6;
   
}
.box1, .box2, .box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
}
.quote{
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    background-color: #E5E7EB;
    padding-right: 200px;
    padding-left: 200px;
    text-align: center;
}
.qt{
    font-weight: lighter;
    font-size: 36px;
    color: #1F2937;

}
.author{
    display: flex;
    font-weight: bold;
    font-size: large;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 55px;
}

.action{
    display: flex;
    justify-content: space-between;
    margin: 55px 200px;
    padding: 35px 45px;
    border-radius: 15px;
    background-color: #3882F6;
    color: #E5E7EB;
}

.signup-button{
    border-color: #F9FAF8;
    border-style: solid;
    border-width: 5px;
    padding: 5px 20px
    color: #F9FAF8;

}
.ah{
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 24px;
}
.footer{
    background-color: #1F2937;
    padding: 35px 0px;
    text-align: center;
}

.ft{
    color: #F9FAF8;
}
